@{
    ViewBag.Title = "Страница с информацией о сайте и ее авторе";
}
<!doctype html>
<html>
<head>
    <title>Страница с правилами</title>
    <meta charset="utf-8" />
</head>
<body>
    <p class="center">
        <h2><i> <b> О сайте</b></i> </h2>

        <div> Это первый подобный проект автора, так что не судите строг. </div>

        <div> Ссылка на <a href="https://github.com/AL-Eldov/MTC.git">github </a> с исходным кодом.</div>
    </p>
</body>
</html>