@model MTC_project.Models.User
@{
    ViewBag.Title = "Страница с игрой";
    Random rnd = new Random();
    int tempValue1 = rnd.Next(1, 9);
    int tempValue2 = rnd.Next(1, 9);
    int result = tempValue1 * tempValue2;
}
<!doctype html>
<html>
<head>
    <title>Страница с игрой</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>@Model.Name, введите результат умножения</h2>
    <br>
    <h2>
        @tempValue1 * @tempValue2 =
    </h2>
	<form asp-action="PlayPage" asp-controller="Master" asp-route-id="@Model.Id" asp-route-correctAnswer="@result">

        <p>
			<input type="number" name="userAnswer"   />
        </p>
        <p>
            <input type="submit" value="Ответить" />
        </p>
    </form>
    
</body>
</html>