@{
    ViewBag.Title = "Страница с описанием рангов";
}
<!doctype html>
<html>
<head>
    <title>Страница с описанием рангов</title>
    <meta charset="utf-8" />
</head>
<body>
    <p class="center">
        <h2><i> <b> Доступные ранги</b></i> </h2>

        <ul>
            <li><pre>Первый ранг      - от 1 до 10       единиц рейтинга</pre>
            <li><pre>Второй ранг      - от 11 до 50      единиц рейтинга</pre>
            <li><pre>Третий ранг      - от 51 до 100     единиц рейтинга</pre>
            <li><pre>Четвертый ранг   - от 101 до 200    единиц рейтинга</pre>
            <li><pre>Пятый ранг       - от 101 до 200    единиц рейтинга</pre>
            <li><pre>Шестой ранг      - от 201 до 300    единиц рейтинга</pre>
            <li><pre>Седьмай ранг     - от 301 до 400    единиц рейтинга</pre>
            <li><pre>Восьмой ранг     - от 401 до 500    единиц рейтинга</pre>
            <li><pre>Девятый ранг     - от 501 до 750    единиц рейтинга</pre>
            <li><pre>Десятый ранг     - от 751 до 1000   единиц рейтинга</pre>
        </ul>
    </p>
</body>
</html>