@{
    ViewBag.Title = "Страница с правилами";
}
<!doctype html>
<html>
<head>
    <title>Страница с правилами</title>
    <meta charset="utf-8" />
</head>
<body>
    <p class="center">
    <h2><i> <b> Правила игры</b></i> </h2>

    <div> Давай правильные ответы на примеры из таблицы умножения и повышай свой ранг. </div>

        <div> Ранг зависит от рейтинга подробнее смотри в <a asp-controller="Master" asp-action="RanksPage">Ранги</a>.</div>

     <div> За кождый правильный ответ дается +1 к рейтингу за каждый не правильный -1. </div>
    </p>
</body>
</html>