@{
    ViewBag.Title = "Страница с правилами";
}
<!doctype html>
<html>
<head>
    <title>Страница с правилами</title>
    <meta charset="utf-8" />
</head>
<body>
    <p class="center">
    <h2><i> <b> Правила игры</b></i> </h2>

    <div> Здесь должны быть правила, но я их еще не придумал </div>
    </p>
</body>
</html>