<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout Page</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div><a href="/Master/HomePage">Домашняя страница</a> </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>